<h2 id="appreciation-generale">Appréciation générale</h2>
<p>Niveau d’accessibilité global pour les critères testés : <strong><%= info.score %></strong>.</p>
<p>(Échelle : très faible, faible, moyen, bon, très bon)</p>

<h2 id="avertissement">Avertissement</h2>
<p>Attention, l’audit effectué est un audit simplifié et non un audit de conformité (ou audit "complet"). Il a vocation à détecter une série de problèmes d’accessibilité mais n'est pas exhaustif. Le fait qu’aucun problème ne soit remonté pour un critère RGAA donné ne signifie pas qu’il n’y a pas de problème d’accessibilité pour ce critère. De même, lorsque nous rapportons une occurrence d’un problème, ce problème peut avoir d’autres occurrences. N’hésitez pas à vérifier de manière exhaustive l’accessibilité de ce site conformément au référentiel <a href="https://accessibilite.public.lu/fr/rgaa4.1/index.html">RGAA</a>.</p>

<h2 id="echantillon">Échantillon de pages et référentiel</h2>
<p>Voici les pages qui ont été évaluées lors de cet audit :</p>
<ul>
    <% info.pages.forEach(p => { %>
        <li>Page P0<%=p.id %> : <a href="<%= p.value %>"><%= p.label %></a></li>
    <% }) %>
</ul>
<p>Méthode d'évaluation : <a href="https://accessibilite.public.lu/fr/monitoring/controle-simplifie.html">Méthode de contrôle simplifiée de l’accessibilité pour le Luxembourg – v1.2</a></p>
<p>Référentiel : <a href="https://accessibilite.public.lu/fr/rgaa4.1/index.html">RGAA v4.1</a></p>

<% if (!declaration) { %>
    <h2 id="declaration">Déclaration sur l'accessibilité</h2>
<p>Le site ne comporte pas de <strong>déclaration sur l'accessibilité</strong>. Celle-ci est obligatoire d'après l'article 5 de la <a href="https://legilux.public.lu/eli/etat/leg/loi/2019/05/28/a373/jo">loi du 28 mai 2019</a>. Cette déclaration s'effectue après avoir réalisé un audit de conformité basé sur le <a href="https://accessibilite.public.lu/fr/rgaa4.1/index.html">RGAA</a>. Pour créer une déclaration sur base des résultats d'un audit de conformité, le <a href="https://accessibilite.public.lu/fr/tools/decla.html">formulaire disponible à cet effet sur accessibilite.lu</a> peut être utilisé. Une fois la déclaration d'accessibilité publiée, l'éditeur du site a 30 jours pour en informer le SIP par mail à l'adresse <a href="mailto:accessibilite@sip.etat.lu">accessibilite@sip.etat.lu</a>.</p>
<% } %>

<% if (docs !== undefined && (docs['pdf-exempt'] >= 50 || docs['files'] >= 100)) { %>

    <h2 id="documents-bureautiques">Documents bureautiques en téléchargement</h2>

    <p>L'accessibilité d'un échantillon de <%= docs['files'] %> fichiers bureautiques en téléchargement sur le site considéré a été analysée.
    La note globale de l'audit présentée dans la section "Appréciation générale", doit être nuancée au vu des points suivants&nbsp;: </p>
    
    <% if (docs['pdf-exempt'] >= 50) { %>
    <p>Un nombre important de contenus dérogés impacte la pertinence des résultats de l'audit (la liste des dérogations prévues par la loi est disponible sur <a href="https://accessibilite.public.lu/fr/obligations.html#contenus-exempt%C3%A9s">la page "obligations" du site accessibilite.lu</a>). Le site contient un grand nombre de contenus dérogés. En effet, un nombre important de fichiers PDF a été publié avant le 23 septembre 2018 (soit <%= docs['pdf-exempt'] %> fichiers). Bien que ces fichiers soient exemptés d'obligation de mise en accessibilité par la loi du 28 mai 2019, il est recommandé de les rendre accessibles, sans quoi une part importante du contenu mis à disposition sur ce site ne pourra être consulté par les personnes en situation de handicap.</p> 
    <% } %>

    <% if (docs['files'] >= 100) { %>
    <p>Une quantité importante de documents bureautiques en téléchargement a été détectée, ce qui peut avoir un impact négatif sur l'accessibilité globale de ce site. Sur l'échantillon de fichiers analysé, <%= docs['pcent-pdf'] %> % sont des documents PDF et <%= docs['pcent-form'] %> % sont des formulaires PDF. Le format PDF est en général moins accessible que les pages Web et que les documents Office (.docx, .pptx, etc.); l'accessibilité des formulaires est particulièrement importante dans la mesure où ils sont en général nécessaires à la réalisation de procédures administratives.</p>
    <p>Sur les fichiers PDF qui entrent dans le cadre de la loi (publication après le 23 septembre 2018) issus de l'échantillon, <%= docs['pcent-pdf-pb-access'] %> % ont au moins un problème d'accessibilité (ex: absence de titre, absence de langue par défaut, absence de <span lang="en">bookmarks</span>)<% if (docs['pcent-pdf-blocking-pb-access'] != 0) { %> et <%= docs['pcent-pdf-blocking-pb-access'] %> % ont un problème d'accessibilité grave, qui empêche totalement l'accès au contenu du document par les utilisateurs (ex: fichier non taggué, fichier protégé, document scanné)<% } %>. Ces informations sont données à titre indicatif, car la présence d'une alternative accessible n'a pas été vérifiée.</p>
    <% } %>
    
    <p>Pour information, le SIP met à disposition une liste de <a href="https://accessibilite.public.lu/fr/rgaa4.1/files/liste-criteres-documents-bureautiques-telechargement-RGAA.docx">critères d'accessibilité pour les documents bureautiques en téléchargement</a>. Pour chaque document bureautique en téléchargement, il est possible de le rendre accessible en respectant les critères mentionnés précédemment, ou de proposer une alternative accessible, sous la forme d'une page Web ou d'un document Office (.docx, .pptx, etc.) proposant les mêmes informations.</p>

<% } %>



 


