<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Audit d'accessibilité simplifié du site <%= info.site %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            <%- include('styles.css') %>
            <%- include('custom.css') %>
            <%- include('print.css') %>
        </style>
    </head>
    <body class="markdown-body">
        <header role="banner">
            <div class="toc">
                <a href="#title">title</a>
                <a href="#appreciation-generale">appreciation generale</a>
                <a href="#avertissement">avertissement</a>
                <a href="#echantillon">Échantillon</a>
                <a href="#declaration">Déclaration</a>
                <a href="#documents-bureautiques">Documents bureautiques</a>
                <a href="#annexe-technique">annexe technique</a>
            </div>
            <div class="skip-link">
                <a href="#main">contenu principal</a>
            </div>
            <h1 id="title">Audit d'accessibilité simplifié - <span id="site"><%= info.site %></span></h1>
            <p><%= info.date %></p>
            <div class="logo"><%- include('logo.ejs') %></div>
        </header>
        <main role="main" id="main" tabindex="-1">
                <%- include('intro', {info: info}) %>
            <h2 id="annexe-technique">Annexe technique</h2>
            <% topics.forEach(topic => { %>
                <%- include('topic', {topic: topic, solutions: solutions, issues: issues}) %>
            <% }) %>
        </main>
        <footer role="contentinfo">
            <p>Ce rapport est publié par le <a href="https://sip.gouvernement.lu">service information et presse</a> sous <a href="https://creativecommons.org/publicdomain/zero/1.0/legalcode.fr">licence CC0</a>.</p>
        </footer>
    </body>
</html>