<div class="topic">
    <div class="nobreak">
        <h3 id="<%= topic.name.replace(/[\s\']+/g, '-').toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "") %>">Thématique "<%= topic.name.toLowerCase() %>"</h3>
        <a class="toc" href="#<%= topic.name.replace(/[\s\']+/g, '-').toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "") %>"><%= topic.name %></a>
        <div class="desc"><h4>Recommandations générales</h4> <%- md.render(topic.desc) %></div>
    </div>
    <% 
        const sol = solutions[topic.num]
        const iss = issues.filter(e => {return (e.topic == topic.num)}) 

        sol.forEach(s => { 
            const shortList = iss.filter(e => {return (s.criterias.includes(e.criteria))})
            if (shortList.length != 0) {
            %>
            <div class="nobreak">
            <h4>Cas rencontré&nbsp;: <%- md.renderInline(s.title) %></h4>
                <%- md.render(s.desc) %>
            </div>
            <div class="nobreak">
            <h5>Exemples de problèmes détectés sur la <a href="<%= info.pages[parseInt(shortList[0].page)-1].value %>">page P0<%= shortList[0].page %></a></h5>
            <%- mdForExcel.render(shortList[0].comment) %>
            </div>
    <%      }
        })
    %> 
</div>